# Maven
target/

# Gradle
.gradle/

# Build output
build/
out/

# IntelliJ
.idea/
*.iml

# IntelliJ user files
/shelf/
/.idea/workspace.xml

# HTTP requests
/httpRequests/

# Database files
/dataSources/
/dataSources.local.xml

# Query files
/queries/